.header {
  &_logo {
    cursor: pointer;
  }
  display: flex;
  justify-content: space-between;
  &_menu {
    display: flex;
    align-items: center;
    font-size: 22px;
    nav {
      display: flex;
      align-items: center;
    }
    &_item {
      display: flex;
      list-style-type: none;
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      li:not(:last-child) {
        margin-right: 70px;
      }
      a {
        color: #0063b2;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          transition: opacity ease-in-out 0.2s;
          opacity: 0.5;
        }
      }
    }
  }
  &_language {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 17px;
    margin-left: 22px;
    border-left: 1px solid #c7c7c7;
    color: #8d8d8d;
    cursor: pointer;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 16px;
      i {
        align-self: baseline;
        margin-left: 5px;
      }
    }
  }
  &_banner {
    min-height: 398px;
    font-size: 0;
    background: linear-gradient(
        0deg,
        rgba(0, 99, 178, 0.29),
        rgba(0, 99, 178, 0.29)
      ),
      url(Banner.jpg) no-repeat;
  }
}

.arrow {
  border: solid #8d8d8d;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
