.footer {
  &_wrapper {
    position: relative;
  }
  &_menu {
    background: #ffffff;
    max-width: 1060px;
    margin: 0 auto -48px;
    position: relative;
    z-index: 1;
    font-size: 22px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    &_item {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 38px 0;
      list-style-type: none;
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      li:not(:last-child) {
        margin-right: 70px;
      }
      a {
        letter-spacing: 0.05em;
        color: #0063b2;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          transition: opacity ease-in-out 0.2s;
          opacity: 0.5;
        }
      }
    }
  }
  &_content {
    display: flex;
  }
  &_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    padding: 218px 292px;
    background: linear-gradient(
        0deg,
        rgba(0, 99, 178, 0.88),
        rgba(0, 99, 178, 0.88)
      ),
      url(FooterBanner.png) no-repeat;
    background-size: cover;
  }
  &_address {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    &_item {
      display: flex;
      align-items: center;
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.1em;
      color: #ffffff;
      address {
        font-style: normal;
      }
      a {
        text-decoration: none;
        color: #ffffff;
      }
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }
  }
  &_icon {
    &--map {
      margin-right: 50px;
    }
    &--mail {
      margin-right: 37px;
    }
    &--tel {
      margin-right: 35px;
    }
  }
  &_form {
    padding: 120px 0;
    max-width: 568px;
    margin: 0 auto;
    text-align: center;
    #organization,
    #about {
      width: 100%;
    }
    #organization {
      margin-bottom: 20px;
    }
    #email,
    #tel {
      min-width: 278px;
    }
    input,
    textarea {
      border: none;
      padding: 19px 27px;
      margin-bottom: 30px;
      &::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.1em;
        color: #abaaaa;
      }
      &:focus {
        outline: none;
      }
    }
    textarea {
      resize: none;
    }
    input[type="submit"] {
      cursor: pointer;
      min-width: 198px;
      text-align: center;
      margin-bottom: 0;
      padding: 16px 42px;
      font-family: "Lato";
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      color: #ffffff;
      border: none;
      transition: background ease-in-out 0.5s;
      background: url(./Button.png) no-repeat right center, #0063b2;
      &:hover {
        background-position-x: 150px;
      }
    }
    &_wrapper {
      width: 50%;
      background: #eeeeee;
    }
  }
  &_header {
    margin: 0 0 30px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  &_copyright {
    text-align: center;
    padding: 22px 0;
    background: #14202d;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: lowercase;
    color: #ffffff;
  }
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
